li {
	font-size: 1.25em;
}

p, h1, h2 {
	text-align:center;
}

.fontChange {
	font-family:Courier;
}

#bgImage {
	background-image: url("http://static.stereogum.com/uploads/2016/08/Vince-Staples-Prima-Donna-compressed.jpg");
	background-size:320px 320px;
	width:320px;
	height:320px;
	display:block;
	margin:auto;
	margin-top:2em;
}